body{
    background-color: white;
    color: black;
}

.main{
    background-color: #cccccc;
    padding: 30px;
}

#banner{
    width: 100%;
}

p {
    text-align: center;
}

#mission{
    font-size: 20px;
}

em strong{
    color: red;
}

h2{
    text-align: center;
}

.itens{
    font-style: italic;
}

.benefits{
    padding: 20px;
}